@model Przychodnia.Models.Users.ChangeUserViewModel 
@{
    ViewBag.Title = string.Format("{0} - zarządzaj", Model?.Username);
    Layout = "~/Views/Shared/_BigLayout.cshtml";
}
@using (Html.BeginForm(RouteDataHelper.ActionName, RouteDataHelper.ControllerName, new { userID = Model == null ? 0 : Model.UserID }, FormMethod.Post, null))
{
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.LekarzID)
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Zmień prawa dla @(Model == null ? "-" : Model.Username) (lekarzID = @(Model == null ? "-" : Model.LekarzID.ToString()))</h3>

                </div>

                <div class="panel-body">
                    <div>
                        @if (Model != null)
                        {


                            <fieldset>
                                @for (int i = 0; i < Model.Prawa.Count; ++i)
                                {
                                    <div class="checkbox">
                                        <label>
                                            @Html.HiddenFor(m => m.Prawa[i].Prawo)
                                            @if (Model.Prawa[i].Disabled)
                                            {
                                                @Html.CheckBoxFor(m => m.Prawa[i].Value, new { @disabled = true })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(m => m.Prawa[i].Value)
                                            }
                                            @Model.Prawa[i].Prawo
                                        </label>
                                    </div>
                                }
                            </fieldset>
                        }

                    </div>
                    <strong>Uprawnienia specjalne (lekarz, kierownik) dopisywane są dopiero po przypisaniu funkcji w bazie danych. <br/>
                    Nie można ich wybrać ręcznie.</strong><hr/>
                    <strong>Z nieznanych mi powodów po wysłaniu zapytania POST w celu nadania nowych praw kierowniczych wartości w checkboxach nie są aktualne. W takiej sytuacji należy
                    przeładować strone bez ponownego wysyłania zapytania.</strong>
                </div>
            </div>
        </div>
        @if (Model != null && Model.CanBeKierownik)
        {
            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Dodaj jako kierownika placówek :</h3>

                    </div>

                    <div class="panel-body">
                        <div>
                            @if (Model != null)
                    {

                                <fieldset>
                                    @for (int i = 0; i < Model.Kierownictwo.Count; ++i)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                @Html.HiddenFor(m => m.Kierownictwo[i].PrzychodniaID)
                                                @Html.CheckBoxFor(m => m.Kierownictwo[i].Value)
                                                @Model.Kierownictwo[i].Nazwa
                                            </label>
                                        </div>
                                    }
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    if (Model != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-lg btn-block btn-success">Zapisz</button>
                <hr/>
            </div>
        </div>
    }
    <div class="row">
        @if (Model != null && Model.Przydzialy.Count > 0)
        {
            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Historia zatrudnienia:</h3>

                    </div>

                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" data-tables>
                            <thead>
                                <tr>
                                    <td>Początek przydziału</td>
                                    <td>Koniec przydziału</td>
                                    <td>Placówka</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.Przydzialy)
                                {
                                    <tr>
                                        <td>@p.PoczatekPrzydzialu.ToShortDateString()</td>
                                        <td>@(p.KoniecPrzydzialu == null ? "" : p.KoniecPrzydzialu.Value.ToShortDateString())</td>
                                        <td>@p.PrzychodniaNazwa</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        }
    </div>

    
}
<hr />
<a href="@Url.Action("Index")" class="btn btn-block btn-default btn-lg"><i class="fa fa-users"></i>Wróć do listy użytkowników</a>
<hr/>

@section scripts {
    <script type="text/javascript">

        $('[data-tables]').DataTable({
            responsive: true
        });
    </script>

}