@model Przychodnia.Models.Pacjenci.PomiaryListViewModel

@{ 
    ViewBag.Title = "Pomiary przypisanych pacjentów";
}

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3>Ostatnie pomiary</h3>

    </div>

    <div class="panel-body">
        <div>
            <table class="table table-striped table-bordered table-hover" data-tables>
                <thead>
                    <tr>
                        <td></td>
                        <td>Data</td>
                        <td>Pacjent</td>
                        <td>Ciśnienie skurczowe</td>
                        <td>Ciśnienie rozkurczowe</td>
                        <td>Tętno</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pomiar in Model.Pomiary)
                    {
                        <tr>
                            <td>
                                <a title="Zrób pomiar pracy serca" href="@Url.Action("Pomiar", new { pacjentID = 4 })"><i class="fa fa-heart"></i></a>
                                <a title="Przeprowadź badanie" href="@Url.Action("Add", "Choroba", new { pacjentID = 4 })"><i class="fa fa-medkit"></i></a>
                                <a title="Informacje" href="@Url.Action("Info", new { pacjentID = 4 })"><i class="fa fa-info-circle"></i></a>
                            </td>
                            <td>@pomiar.Data.ToShortDateString() @pomiar.Data.ToShortTimeString()</td>
                            <td>@pomiar.PacjentNazwisko @pomiar.PacjentImie</td>
                            <td>@pomiar.Skurczowe</td>
                            <td>@pomiar.Rozkurczowe</td>
                            <td>@pomiar.Tetno</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('table[data-tables]').DataTable({

            });
        });
    </script>

}
