@model Przychodnia.Models.Pacjenci.PomiarViewModel

@{
    ViewBag.Title = "Dodaj pomiar";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@ViewBag.Title</h3>

    </div>

    <div class="panel-body">
        <div>
            @using (Html.BeginForm(RouteDataHelper.ActionName, RouteDataHelper.ControllerName, FormMethod.Post))
            {
                <fieldset>
                    <div class="form-group">
                        <label>Przychodnia</label>
                        @Html.DropDownListFor(m => m.PrzychodniaID, Model.Przychodnie, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Pacjent</label>
                        @Html.DropDownListFor(m => m.PacjentID, Model.Pacjenci, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Skurczowe, new { @class = "form-control", placeholder = "ciśnienie skurczowe" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Rozkurczowe, new { @class = "form-control", placeholder = "ciśnienie rozkurczowe" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Tetno, new { @class = "form-control", placeholder = "Tetno" })
                    </div>
                    <button class="btn btn-success btn-lg btn-block">Dodaj pomiar</button>
                    <hr />
                    <a href="@Url.Action("Index", RouteDataHelper.ControllerName)" class="btn btn-info btn-lg btn-block">Wróc do listy pacjentów</a>
                </fieldset>
            }
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Dodaj 60 losowych pomiarów</h3>

    </div>

    <div class="panel-body">
        <strong>Dodaje 60 losowych pomiarów w przeszłości.</strong>
        <div>
            @using (Html.BeginForm("RandomPomiary", RouteDataHelper.ControllerName, FormMethod.Post))
            {
                <fieldset>
                    <div class="form-group">
                        <label>Przychodnia</label>
                        @Html.DropDownListFor(m => m.PrzychodniaID, Model.Przychodnie, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Pacjent</label>
                        @Html.DropDownListFor(m => m.PacjentID, Model.Pacjenci, new { @class = "form-control" })
                    </div>
                    <button class="btn btn-success btn-lg btn-block">Dodaj pomiary</button>
                </fieldset>
            }
        </div>
    </div>
</div>


